.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.group-profile {
  padding: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.group-name, .group-intro, .group-notice-title, .group-members-title {
  margin-top: 20px;
}

.group-notices, .group-members {
  list-style-type: none;
  padding-left: 0;
}

.group-notice, .group-member {
  margin-top: 10px;
}

.no-notice {
  margin-top: 10px;
  color: grey;
}
