# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/my-app/node_modules
/my-app/.pnp
.pnp.js
/my-api/node_modules

# testing
/my-app/coverage

# production
/my-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/my-app/npm-debug.log*
/my-app/yarn-debug.log*
/my-app/yarn-error.log*

# 忽略key.txt文件
/my-api/key.txt

# 首先忽略profile_photos目录下的所有文件
my-api/static/profile_photos/*

# 然后使用!前缀来重新包含你想要跟踪的文件
!my-api/static/profile_photos/default_female.png
!my-api/static/profile_photos/default_group.jpg
!my-api/static/profile_photos/default.png
!my-api/static/profile_photos/gun-ship.jpg

