.sign-up {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

/* Style the text fields */
.sign-up .MuiTextField-root {
  margin: 10px 0;
  width: 100%;
}

/* Style the button */
.sign-up .MuiButton-root {
  margin-top: 20px;
  background-color: #4CAF50; /* Green */
  color: white;
}

.sign-up .MuiButton-root:hover {
  background-color: #45a049; /* Darker green */
}

/* Additional style in case there's an error */
.sign-up .Mui-error {
  margin-bottom: 10px;
  color: #f44336; /* Red */
}
