.message-container {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

.message-area {
  height: calc(75% - 1px);  /* 考虑到底部的边框 */
  overflow-y: auto; /* 如果消息过多，可以滚动查看 */
  border-bottom: 1px solid #ddd; /* 为了视觉上区分消息区域和输入区域 */
  padding-bottom: 10px; /* 可根据需要调整 */
}

